@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css');

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin: 0 10px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	padding: 50px;
	text-align: center;
}

h1 {
	font-size: 36px;
	margin-bottom: 20px;
}

p {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 30px;
}

button {
	padding: 10px 20px;
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #666;
}

#social ul{
    display: flex;
    list-style-type: none;
}

#social ul li{
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 10px;
}

#social ul li.fla a{
    color: blue;
}

#social ul li.kla a{
    color: skyblue;
	
}

#social ul li#moco a{
color: red ;
}
.section_tag1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

.follow1{
    display: flex;
    align-items: center;
    justify-content: center;
}


footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}
